{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-4 mb-2">
        <div class="col">
            <h1>Create new Agent account</h1>
        </div>
    </div>

    <div class="row mt-2 mb-2">
        <div class="col">
            {{ form_start(createAgentForm, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(createAgentForm) }}
            {{ form_end(createAgentForm) }}
        </div>
    </div>
{% endblock %}