{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-4 mb-2">
        <div class="col">
            <h1>Edit Agent account</h1>
        </div>
    </div>

    <div class="row mt-2 mb-2">
        <div class="col">
            {{ form_start(editAgentForm, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(editAgentForm) }}
            {{ form_end(editAgentForm) }}
        </div>
    </div>
{% endblock %}