{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-4 mb-2">
        <div class="col">
            <h1>Agent's List</h1>
        </div>
        <div class="col">
            <a href="{{ path('agent_create') }}" class="btn btn-secondary float-right">Create new agent</a>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Full name</th>
            <th scope="col">E-mail</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for agent in agents %}

        <tr>
            <th scope="row">{{ agent.id }}</th>
            <td>{{ agent.fullname }}</td>
            <td>{{ agent.email }}</td>
            <td><a href="{{ path('agent_edit', {id: agent.id}) }}">Edit</a></td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}