{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-4 mb-2">
        <div class="col">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Login panel</h5>
                    </div>
                    {{ form_start(accessForm, {'attr': {'novalidate': 'novalidate'}}) }}
                        <div class="modal-body">
                            {{ form_row(accessForm.email) }}
                        </div>
                        <div class="modal-footer">
                            {{ form_widget(accessForm.save) }}
                        </div>
                    {{ form_end(accessForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}