{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-4 mb-2">
        <div class="col">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Login panel</h5>
                    </div>
                    <form action="{{ path('login') }}" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="email">User e-mail</label>
                                <input type="text"
                                       class="form-control"
                                       id="username"
                                       aria-describedby="emailHelp"
                                       placeholder="Enter user name"
                                       name="email"
                                       value="{{ last_username }}"
                                       required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password"
                                       class="form-control"
                                       id="password"
                                       placeholder="Password"
                                       name="password">
                                <input type="hidden"
                                       name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Get in!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}