{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-4 mb-2">
        <div class="col">
            <h2>Create new campaign</h2>
        </div>
    </div>

    {{ form_start(createCampaignForm, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(createCampaignForm) }}
    {{ form_end(createCampaignForm) }}
{% endblock %}
