{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-4 mb-2">
        <div class="col">
            <h2>Manage campaign: {{ campaign.name }}</h2>
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col">
            {{ form_start(manageCampaignForm, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_row(manageCampaignForm.name) }}
            {{ form_row(manageCampaignForm.startDate) }}
            {{ form_row(manageCampaignForm.endDate) }}
            {{ form_row(manageCampaignForm.postsQuantity) }}
            {{ form_row(manageCampaignForm.agent) }}
            {{ form_row(manageCampaignForm.notice) }}
            <div class="btn-group" role="group" aria-label="Basic example">
                {{ form_widget(manageCampaignForm.save) }}
                <a href="{{ path('campaign_show') }}" class="btn btn-light">Cancel</a>
            </div>

            {{ form_end(manageCampaignForm) }}
        </div>
    </div>
    {% if campaign.posts is not empty %}

    <div class="row mt-2 mb-2">
        <div class="col">
            <h2>Written posts</h2>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">URL</th>
            <th scope="col">Nick</th>
            <th scope="col">Category</th>
        </tr>
        </thead>
        <tbody>
        {% for post in campaign.posts %}

        <tr>
            <th scope="row">{{ post.id }}</th>
            <td>{{ post.enterDate.format('Y-m-d') }}</td>
            <td>{{ post.link }}</td>
            <td>{{ post.nick }}</td>
            <td>{{ post.category }}</td>
        </tr>

        {% endfor %}
        </tbody>
    </table>

    {% else %}

    <div class="row mt-2 mb-2">
        <div class="col">
            <h2>No posts available yet</h2>
        </div>
    </div>

    {% endif %}
{% endblock %}
