{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-4 mb-2">
        <div class="col">
            <h1>Campaign List</h1>
        </div>
        <div class="col">
            <a href="{{ path('campaign_create') }}" class="btn btn-secondary float-right">Create new campaign</a>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col" colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        {% for campaign in campaigns %}

        <tr>
            <th scope="row">{{ campaign.id }}</th>
            <td>{{ campaign.name }}</td>
            <td>{{ campaign.startDate.format('Y-m-d') }}</td>
            <td>{{ campaign.endDate.format('Y-m-d') }}</td>
            <td>
                {% if campaign.agent is not null %}
                    {{ campaign.agent.fullname }}
                {% else %}
                    Not assigned yet
                {% endif %}
            </td>
            <td><a href="{{ path('campaign_manage', {id: campaign.id}) }}">Manage</a></td>
            <td>
                {% if campaign.agent is not null %}
                    <a href="{{ path('campaign_getaccess', {pid: campaign.pid}) }}">View</a>
                {% endif %}
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}