{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-4 mb-2">
        <div class="col">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th scope="row">Campaign</th>
                    <td colspan="3">{{ campaign.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Start Date</th>
                    <td>{{ campaign.startDate.format('Y-m-d')}}</td>
                    <th scope="row">Agent</th>
                    <td>{{ campaign.agent.fullName }}</td>
                </tr>
                <tr>
                    <th scope="row">End date:</th>
                    <td>{{ campaign.endDate.format('Y-m-d') }}</td>
                    <th scope="row">Post limit</th>
                    <td><span id="postQuantity">{{ campaign.postsQuantity }}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-2 mb-2">
        <div class="col">
            <h2>Related posts</h2>
        </div>
    </div>

    {{ form_start(manageCampaignPostsForm, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_errors(manageCampaignPostsForm.posts) }}

    <ul class="posts list-unstyled"
        data-prototype="{{ form_widget(manageCampaignPostsForm.posts.vars.prototype)|e('html_attr') }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ manageCampaignPostsForm.posts.vars.prototype|length }}">

        {% for post in manageCampaignPostsForm.posts %}
            <li>
                {{ form_widget(post) }}
            </li>
        {% endfor %}

    </ul>

    {{ form_end(manageCampaignPostsForm) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/form/addPostsToCampaignForm.js') }}"></script>
{% endblock %}