{% extends 'base.html.twig' %}

{% block body %}
    <h1>Error 404</h1>
    <h2>Page not found</h2>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('agent_create') }}">return to the previous page</a>.
    </p>
{% endblock %}