{% extends 'base.html.twig' %}

{% block body %}
    <h1>Error</h1>

    <p>
        The requested resource couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('agent_create') }}">return to the previous page</a>.
    </p>
{% endblock %}