<style>
    * {
        font-family: "Courier New";
    }
</style>

<h3>Your brand new token has been generated!</h3>

Hi {{ firstName }}! You're successfully registered.

To manage Your campaign go to:

<a target="_blank" href="{{ url('campaign_view', {token: token}) }}">{{ campaignName }}</a>.

Thanks!